{% extends "base_control.html" %}

{% block sidebar %}
    <nav id="sidebar">
        <div class="sidebar-header">
            <h5> {{ result }} </h5>
            <h5> {{ hotspot }} </h5>
            <strong><i class="fa fa-wifi"></i></strong>
        </div>
        <ul class="list-unstyled components">
            <li class="menu active menu-dashboard">
                <a href="#">
                    <i class="fa fa-home"></i>General
                </a>
            </li>
            <!-- <li class="menu">
                <a href="{% url 'admin:index' %}">
                    <i class="fas fa-cog"></i>Clients
                </a>
            </li> -->
            <li class="menu menu-device">
                <a href="#">
                    <i class="fas fa-power-off"></i>Device
                </a>
            </li>
            <li class="menu">
                <a href="{% url 'admin:index' %}">
                    <i class="fas fa-cog"></i>Admin Settings
                </a>
            </li>
            <li class="menu">
                <a href="{% url 'app:portal' %}">
                    <i class="fas fa-window-close"></i>Exit
                </a>
            </li>
        </ul>
    </nav>
{% endblock sidebar %}
{% block main %}
    <div id="main">
        {% if message %}
        <div class="alert alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}
        <div class="content dashboard">
            <div class="row">
                <div class="col-12">
                    <h3>Dashboard</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-success o-hidden h-100">
                        <div class="card-header">
                            <span class="float-left">Connected Clients</span>
                        </div>
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-users"></i>
                            </div>
                            <div class="mr-5">
                                <h2><strong>{{ user_count }}</strong></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-info o-hidden h-100">
                        <div class="card-header">
                            <span class="float-left">Total Sales</span>
                        </div>
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-list"></i>
                            </div>
                            <div class="mr-5">
                                <h2><strong>P {{ denom }}</strong></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-warning o-hidden h-100">
                        <div class="card-header">
                            <span class="float-left">Coin Count</span>
                        </div>
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-coins"></i>
                            </div>
                            <div class="mr-5">
                                <h2><strong>{{ count }}</strong></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#reset-modal">Reset Dashboard</button>
                </div>
            </div>
        </div>
        <div class="content device d-none">
            <div class="row">
                <div class="col-12">
                    <h3>Device</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <button type="button" class="btn btn-success w-100" data-toggle="modal" data-target="#restart-modal">
                        <i class="fa fa-sync"></i> Restart Network
                    </button>
                </div>
                <div class="col-md-3 mb-3">
                    <button type="button" class="btn btn-warning w-100" data-toggle="modal" data-target="#reboot-modal">
                        <i class="fa fa-undo"></i> Reboot Device
                    </button>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-danger w-100" data-toggle="modal" data-target="#poweroff-modal">
                        <i class="fas fa-power-off"></i> Power Off
                    </button>
                </div>
            </div>
        </div>
    </div>
        {% csrf_token %}
        <!-- Modals -->
        <div class="modal fade" id="reset-modal">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title">Confirm</h6>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-success btn-reset" data-dismiss="modal">Continue</button>
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="restart-modal">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title">Confirm</h6>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-success btn-restart" data-dismiss="modal">Continue</button>
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="reboot-modal">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title">Confirm</h6>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-success btn-reboot" data-dismiss="modal">Continue</button>
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="poweroff-modal">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title">Confirm</h6>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-success btn-poweroff" data-dismiss="modal">Continue</button>
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="loader-modal" role="dialog" tabindex="-1" aria-labelledby="loaderModal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="loader-text"><span class="fa fa-spinner fa-spin"></span>  Applying...</div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
{% block custom_scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#sidebarCollapse').on('click', function(){
                $('#sidebar').toggleClass('active');
            });

            $('.menu').on('click', function(){
                $('.menu').removeClass('active');
                $(this).toggleClass('active');
            })

            $('.menu-dashboard').on('click', function(){
                $('.dashboard').removeClass('d-none');
                $('.device').addClass('d-none');
            })

            $('.menu-device').on('click', function(){
                $('.dashboard').addClass('d-none');
                $('.device').removeClass('d-none');
            })

            $('.btn-reboot').on('click', function(){
                $("#loader-modal").modal('show');

                var token = $('input[name=csrfmiddlewaretoken]').val();
                var data = {
                    'csrfmiddlewaretoken': token,
                    'action': 'reboot'
                    }
                $.ajax({
                    method: 'POST',
                    url: '/app/control',
                    data: data
                });
                setTimeout(function(){
                    window.location.href='/app/control'
                }, 3000);

            })

            $('.btn-poweroff').on('click', function(){
                $("#loader-modal").modal('show');

                var token = $('input[name=csrfmiddlewaretoken]').val();
                var data = {
                    'csrfmiddlewaretoken': token,
                    'action': 'poweroff'
                    }
                $.ajax({
                    method: 'POST',
                    url: '/app/control',
                    data: data
                })
                setTimeout(function(){
                    window.location.href='/app/control'
                }, 3000);
            })

            $('.btn-restart').on('click', function(){
                $("#loader-modal").modal('show');

                var token = $('input[name=csrfmiddlewaretoken]').val();
                var data = {
                    'csrfmiddlewaretoken': token,
                    'action': 'refresh'
                    }
                $.ajax({
                    method: 'POST',
                    url: '/app/control',
                    data: data
                })
                setTimeout(function(){
                    window.location.href='/app/control'
                }, 3000);
            })

            $('.btn-reset').on('click', function(){
                $("#loader-modal").modal('show');

                var token = $('input[name=csrfmiddlewaretoken]').val();
                var data = {
                    'csrfmiddlewaretoken': token,
                    'action': 'reset'
                    }
                $.ajax({
                    method: 'GET',
                    url: '/app/control',
                    data: data
                })
                setTimeout(function(){
                    window.location.href='/app/control'
                }, 3000);
            })
        });
    </script>  
{% endblock custom_scripts %}