<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OJO PISOWIFI - ELoad</title>
    <link rel="stylesheet" href="/static/vendors/bulma-0.7.5/css/bulma.min.css">
    <script defer src="/static/vendors/fontawesome-free-5.4.1-web/js/all.js"></script>
  </head>
  <body>
   <section class="section">
   		<div class="container">
   			<div class="field">
			  <label class="label">Network</label>
			  <div class="control">
			    <div class="select">
			      <select>
			        <option>Smart</option>
			        <option>Globe</option>
			        <option>Sun</option>
			      </select>
			    </div>
			  </div>
			</div>

		    <div class="field">
			  <label class="label">Phone Number</label>
			  <div class="control">
			    <input class="input" type="text" placeholder="09xxxxxxxxx">
			  </div>
			</div>

			<div class="field">
			  <label class="label">Denomination</label>
			  <div class="control has-icons-left has-icons-right">
			    <input class="input is-success" type="text" placeholder="1-150">
			    <span class="icon is-small is-left">
			      <i class="fas fa-user"></i>
			    </span>
			    <span class="icon is-small is-right">
			      <i class="fas fa-check"></i>
			    </span>
			  </div>
			  <p class="help is-success">This username is available</p>
			</div>

			<div class="field">
			  <div class="control">
			    <label class="checkbox">
			      <input type="checkbox">
			      Pay through cashier/teller
			    </label>
			  </div>
			</div>

			<div class="field is-grouped">
			  <div class="control">
			    <button class="button is-link">Buy Load</button>
			  </div>
			</div>
		</div>
		<div class="container"></div>
	</section>
  </body>
</html>