{% extends "base_site.html" %}

{% block title %} BI Central {% endblock title %}

{% block body %}
    {% block top_navigation %}
        <div class="top_nav">
          {% include "top_navigation.html" %}
        </div>
    {% endblock top_navigation %}

    {% block content %}
            <div class="row">
                <div class="col">

                </div>
                <div class="col">

                </div>
                <div class="col">

                </div>
            </div>
    {% endblock content %}
{% endblock body %}